.container {
  display: flex;
  align-items: center;
  margin-bottom: var(--token-16);
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--token-12);
  }
}

.container h2 {
  margin-bottom: 0;
  margin-right: var(--token-12);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background: radial-gradient(
    45% 100% at 50% 50%,
    var(--grey-100) 30%,
    var(--grey-70) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.links {
  display: flex;
  gap: var(--token-12);
  margin-left: var(--token-12);
}

.links a {
  text-decoration: none;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px var(--grey-30) solid;
  font-size: var(--font-size-medium);
  font-weight: 500;
  padding: 0 var(--token-08);
  border-radius: var(--token-24);
  gap: var(--token-04);
  transition: background-color 0.25s;
  box-shadow: var(--box-shadow);
}

.link:hover {
  background-color: var(--grey-10);
}
