.spinner {
  margin: 0 auto;
  border-radius: 50%;
  width: var(--token-24);
  height: var(--token-24);
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid var(--grey-00);
  animation: spin 0.8s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
