.container {
  position: relative;
}

.coordinates {
  position: relative;
}

.buttonOverlay {
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  border-radius: var(--token-16);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  border: 1px var(--grey-30) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--token-32);
  border-radius: var(--token-16);
  box-shadow: var(--box-shadow);
  margin-bottom: var(--token-16);
}

.container {
  position: relative;
  border: 1px var(--grey-30) solid;
  margin-bottom: var(--token-24);
  border-radius: var(--token-16);
  font-size: var(--font-size-medium);
  box-shadow: var(--box-shadow);
  line-height: normal;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--token-64);
  padding: 0 var(--token-24);
  text-align: right;
}

.item:first-of-type::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--grey-20);
}

.key {
  font-weight: 500;
}

.value {
  color: var(--grey-60);
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.helper {
  padding: var(--token-08) var(--token-20);
  color: var(--grey-50);
  border-top: 1px var(--grey-10) solid;
  text-align: center;
}

.helper p {
  margin-bottom: 0;
}

.sampleCoordsButton {
  border: none;
  padding: 0;
  background: transparent;
  color: var(--primary);
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--grey-30);
  transition: 0.25s;
  cursor: pointer;
  font-size: var(--font-size-medium);
}
