.main {
  /* max-width: 550px; */
  /* used for full view of width */
  max-width: 750px;
  margin: 0 auto;

  /* height: 100vh; */
}

.position {
  display: flex;
  align-items: baseline;
}

.image {
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: var(--token-16);
  box-shadow: var(--box-shadow);
  margin-bottom: var(--token-24);
}

.button {
  margin-left: auto;
  margin-top: var(--token-16);
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.work_experience {
  display: flex;
  justify-content: space-between;
}

.work_title > h5 {
  margin: 0;
}
