.container {
  position: relative;
  border: 1px var(--grey-30) solid;
  margin-bottom: var(--token-24);
  border-radius: var(--token-16);
  font-size: var(--font-size-medium);
  box-shadow: var(--box-shadow);
  line-height: normal;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--token-64);
  padding: 0 var(--token-24);
  text-align: right;
}

.item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--grey-20);
}

.item:last-of-type::after {
  display: none;
}

.key {
  font-weight: 500;
}

.value {
  color: var(--grey-60);
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}
