.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--token-32) var(--token-64);
}

.logoContainer {
  width: 5rem;
  height: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starterKitBanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: rotate 32s linear infinite;
}

.dashboard {
  text-decoration: none;
}

@media (max-width: 900px) {
  .dashboard {
    display: none;
  }
  .logoContainer {
    display: none;
  }
}

.navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: var(--token-08);
  border: 1px var(--grey-30) solid;
  border-radius: var(--token-64);
  box-shadow: var(--box-shadow);
  background: var(--grey-00);
}

@media (max-width: 900px) {
  .navigation {
    padding: var(--token-12);
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px var(--grey-30) solid;
    overflow-x: scroll;
    position: fixed;
  }
}

.navigationItem {
  position: relative;
  padding: var(--token-08) var(--token-16);
  border-radius: var(--token-32);
  font-size: var(--font-size-medium);
  font-weight: 500;
  cursor: pointer;
  transition: color 0.15s;
  border: none;
  background: transparent;
  user-select: none;
  white-space: nowrap;
}

.indicator {
  position: absolute;
  background: var(--primary);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
