.container {
  font-size: var(--font-size-medium);
  line-height: 1.5;
  border: 1px var(--grey-30) solid;
  padding: var(--token-24);
  border-radius: var(--token-16);
  box-shadow: var(--box-shadow);
  margin-bottom: var(--token-24);
  background: var(--grey-10);
}
